@keyframes colorChange {
  0% {
    background-color: red;
  }
  33% {
    background-color: yellow;
  }
  66% {
    background-color: green;
  }
  100% {
    background-color: black;
  }
}
body {
  animation: colorChange 5s infinite;
  text-align: center;
}
